<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koreait.www.repository.BoardMapper">

    <sql id="criteria">
        <if test="type != null and keyword != null">
            <trim prefix="AND (" suffix=")" prefixOverrides="OR">
                <foreach item="type" collection="typeArr">
                    <trim prefix="OR">
                        <choose>
                            <when test="type == 'T'.toString()">
                                title LIKE concat('%', #{keyword}, '%')
                            </when>
                            <when test="type == 'C'.toString()">
                                content LIKE concat('%', #{keyword}, '%')
                            </when>
                            <when test="type == 'W'.toString()">
                                writer LIKE concat('%', #{keyword}, '%')
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
    </sql>

    <select id="getList" resultType="BoardVO">
        SELECT * FROM board 
        WHERE bno > 0 
        <include refid="criteria"></include> 
        ORDER BY bno DESC
    </select>

    <insert id="insertSelectKey">
        <selectKey keyProperty="bno" order="AFTER" resultType="long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO board (title, content, writer)
        VALUES (#{title}, #{content}, #{writer})
    </insert>
    
    <select id="read" resultType="BoardVO">
        SELECT * FROM board WHERE bno = #{bno}
    </select>

    <delete id="delete">
        DELETE FROM board WHERE bno = #{bno}
    </delete>

    <update id="update">
        UPDATE board
        SET title = #{title},
        content = #{content},
        writer = #{writer},
        reg_date = now()
        WHERE bno = #{bno}
    </update>
    
    <update id="updateReadCount">
        UPDATE board SET read_count = read_count + 1 WHERE bno = #{bno}
    </update>

    <insert id="insertReadLog">
        INSERT IGNORE INTO board_read_log (bno, reader_id)
        VALUES (#{bno}, #{readerId})
    </insert>
    
    <select id="checkReadLog" resultType="int">
        SELECT count(*) FROM board_read_log WHERE bno = #{bno} AND reader_id = #{readerId}
    </select>
    
    <select id="getList" resultType="BoardVO">
        SELECT * FROM board 
        WHERE bno > 0 
        <include refid="criteria"></include> 
        ORDER BY bno DESC
        LIMIT #{skip}, #{amount}
    </select>

    <select id="getTotalCount" resultType="int">
        SELECT count(*) FROM board WHERE bno > 0 
        <include refid="criteria"></include>
    </select>

</mapper>