<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koreait.www.repository.MemberMapper">

    <resultMap type="com.koreait.www.domain.MemberVO" id="memberMap">
        <id property="email" column="email"/>
        <result property="email" column="email"/>
        <result property="pwd" column="pwd"/>
        <result property="nickName" column="nick_name"/>
        <result property="regDate" column="reg_date"/>
        <result property="lastLogin" column="last_login"/>
        <collection property="authList" resultMap="authMap"/>
    </resultMap>
    
    <resultMap type="com.koreait.www.domain.AuthVO" id="authMap">
        <result property="email" column="email"/>
        <result property="auth" column="auth"/>
    </resultMap>

    <select id="read" resultMap="memberMap">
        SELECT 
            m.email, pwd, nick_name, reg_date, last_login, auth
        FROM 
            member m 
        LEFT OUTER JOIN 
            auth a ON m.email = a.email 
        WHERE 
            m.email = #{email}
    </select>
    
    <select id="getList" resultMap="memberMap">
        SELECT 
            m.email, pwd, nick_name, reg_date, last_login, auth
        FROM 
            member m 
        LEFT OUTER JOIN 
            auth a ON m.email = a.email
        ORDER BY m.reg_date DESC
    </select>
    
    <select id="login" resultType="MemberVO">
        SELECT * FROM member 
        WHERE email = #{email} AND pwd = #{pwd}
    </select>


    <insert id="insert">
        INSERT INTO member (email, pwd, nick_name)
        VALUES (#{email}, #{pwd}, #{nickName})
    </insert>

    <insert id="insertAuth">
        INSERT INTO auth (email, auth)
        VALUES (#{email}, #{auth})
    </insert>

    <update id="updateLastLogin">
        UPDATE member 
        SET last_login = now() 
        WHERE email = #{email}
    </update>

</mapper>